body {
    background-image: url(../assets/movie/Fundo_Index.gif);
    background-size: 100% 100%;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 20%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: flex-end;
    padding: 7%
}

.banner {
    display: flex;
    height: 50%;
    align-items: flex-end;
    width: 50%;
}

.banner img {
    width: 60%;
    height: auto;
}