body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}

.header {
    display: flex;
    z-index: 2;
} 
.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    display: block;
    height: 100vh;
}

.banner .content {
    position: relative;
    z-index: 1;
    max-width: 100%;

}

.banner .content img {
    width: 30%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}