.body {
    height: 100%;
    color: #f0d9a1;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero-content {
    position: relative;
    height: 100%;
    weight: 100%;
    display: flex;
    align-items: flex-end;
    padding: 60px;
}